.section {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    gap: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px 30px 0 0;
    box-sizing: border-box;
    padding: 20px;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.top_box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.link {
    text-decoration: none;
    max-height: 40px;
}

.nickname {
    color: white;
    max-width: 150px;
}

.text_box {
    position: relative;
}

.post_text {
    position: relative;
    color: white;
    padding: 20px 0;
    background-color: inherit;
    border: inherit;
    outline:none;
    max-height: none;
    max-width: 500px;
    z-index: 11;

    &:focus + .post_text_placeholder, :valid + .post_text_placeholder {
        opacity: 0;
    }
}

.post_text_placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.2);
    transition: all .1s;
    z-index: 8;
}

.border_bottom {
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 500px;
    margin-bottom: 15px;
}

.send_box_disabled {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: .3;
    padding: 6px;
    transition: all .2s;
    width: 25px;
    height: 25px;
    margin: auto 0;
}

.send_disabled {
    background-image: url('../../images/next.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    transition: all .2s;
}

.send_box {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: .6;
    cursor: pointer;
    padding: 6px;
    transition: all .2s;
    width: 25px;
    height: 25px;
    margin: auto 0;

    &:hover {
        opacity: 1;
    }
}

.send {
    background-image: url('../../images/next.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 25px;
    height: 25px;
    transition: all .2s; 

    &:hover {
        opacity: 1;
    }
}

.picture_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    background-color: #181818;
    max-width: 500px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 15px;
}

.vertical {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 20px;
    transform: rotate(90deg)
}


.picture_box_text {
    color: white;
    width: 100%;
    max-width: 84px;
}

